*{
  box-sizing: border-box;
  font-family: 'Roboto', 'Times', sans-serif;
}

body{
  background: #fffefc;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

/* a:hover{
  text-decoration: underline;
} */